<div class="calculator-container">
<h1>Forex Calculator</h1>

<div class="form-group">
    <label for="initialCurrency">Moneda Inicial:</label>
    <input
    id="initialCurrency"
    [(ngModel)]="initialCurrency"
    placeholder="COP"
    class="form-control"
    />
</div>

<div class="form-group">
    <label for="finalCurrency">Moneda Final:</label>
    <input
    id="finalCurrency"
    [(ngModel)]="finalCurrency"
    placeholder="USD"
    class="form-control"
    />
</div>

<div class="form-group">
    <label for="initialAmount">Monto Inicial:</label>
    <input
    id="initialAmount"
    [(ngModel)]="initialAmount"
    type="number"
    class="form-control"
    />
</div>

<button
    (click)="getQuote()"
    class="btn btn-primary"
    [disabled]="!initialCurrency || !finalCurrency || !initialAmount"
>
    Obtener Cotización
</button>

<div *ngIf="quote" class="result">
    <h2>Resultado de la Cotización</h2>
    <p><strong>Tasa de Cambio:</strong> {{ quote.exchangeRate }}</p>
    <p>
    <strong>Monto Final:</strong> {{ quote.finalAmount }}
    {{ quote.finalCurrency }}
    </p>
    <p><strong>Coste de Transacción:</strong> {{ quote.transactionCost }}</p>
    <p>
    <strong>Token de Confirmación:</strong>
    {{ quote.exchangeConfirmationToken }}
    </p>
    <p><strong>Expira a las:</strong> {{ quote.expiresAt | date : "short" }}</p>
</div>
</div>
